body {
  margin: 0;
  font-family: 'Inter', sans-serif;

  background: 
    linear-gradient(rgba(11,22,40,0.85), rgba(11,22,40,0.95)),
    url("mru.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* IMPORTANT - else white and extra border will come.*/

  min-height: 100vh; /*instead of height */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Background Glow Animation */
.bg-animation::before,
.bg-animation::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: #c9a227;
  filter: blur(200px);
  opacity: 0.15;
  animation: float 10s infinite alternate;
}

.bg-animation::after {
  background: #1b2c5a;
  left: 60%;
  top: 50%;
}

@keyframes float {
  from { transform: translateY(0px); }
  to { transform: translateY(-50px); }
}

/*Glass Chat Window - AI look */
#chat-window {
  width: 90%;
  max-width: 850px;
  height: 650px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 40px rgba(0,0,0,0.6);
}

/* Header */
#chat-header {
  padding: 18px;
  background: linear-gradient(90deg, #0f1e3d, #1b2c5a);
  color: white;
  display: flex;
  justify-content: space-between;
}

.ai-badge {
  color: #c9a227;
  border: 1px solid #c9a227;
  padding: 8px 10px;
  border-radius: 8px;
}

/* Messages - need to improve a little later!*/
#messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.msg {
  max-width: 75%;
  padding: 12px 16px;
  border-radius: 14px;
  animation: fadeIn 0.3s ease;
}

.msg.user {
  background: linear-gradient(135deg, #1b2c5a, #0f1e3d);
  color: white;
  align-self: flex-end;
}

.msg.bot {
  background: white;
  color: #111;
  align-self: flex-start;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px);}
  to { opacity: 1; transform: translateY(0);}
}

/*Input */
#input-area {
  display: flex;
  padding: 12px;
  gap: 10px;
  background: rgba(255,255,255,0.05);
}

#user-input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
}

/*Buttons - need to change later!! looking too emojii*/
#send-btn, #mic-btn {
  border: none;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

#send-btn {
  background: linear-gradient(135deg, #c9a227, #f5d76e);
}

#mic-btn {
  background: #1b2c5a;
  color: white;
}

#send-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #c9a227;
}